DATA_BACKEND=csv
DATABASE_URL=postgresql+psycopg2://sge_user:sge_password@postgres:5432/sge_aquachile
SECRET_KEY=change-me-please
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
POSTGRES_DB=sge_aquachile
POSTGRES_USER=sge_user
POSTGRES_PASSWORD=sge_password
